<article>
  <header><h1>Welcome!</h1></header>
  <p>My name is Joshua Lee, and I am currently completing a Bachelors of Science in Electrical Engineering degree at Georgia Tech. I am pursuing an engineering career in the robotics field and am interested in electronic devices and exploratory robots. This website is a complete portfolio of my professional and technical experiences; please navigate the sidebar for more information on myself (including contact and resume) or see below for a compilation of my personal projects!
</p>
  <header><h1>Projects</h1></header>
  <ul class="archive">
    {% for post in site.posts %}
    <li>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</article>
